<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.racingapp">

    <application
        android:name=".RacingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.ui.TeamActivity"></activity>
        <activity android:name=".presentation.ui.AddEditTeamActivity" />
        <activity android:name=".presentation.ui.AddEditTrackActivity" />
        <activity android:name=".presentation.ui.AddResult" />
        <activity android:name=".presentation.ui.RaceActivity" />
        <activity
            android:name=".presentation.ui.AddEditRaceActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".presentation.ui.AddEditTournamentActivity"
            android:theme="@style/ActionBar" />
        <activity android:name=".presentation.ui.TrackListActivity" />
        <activity android:name=".presentation.ui.RacerResultActivity" />
        <activity android:name=".presentation.ui.ResultActivity" />
        <activity android:name=".presentation.ui.TeamListActivity" />
        <activity android:name=".presentation.ui.RaceListActivity" />
        <activity android:name=".presentation.ui.TournamentActivity" />
        <activity android:name=".presentation.ui.MainActivity" />
        <activity android:name=".presentation.ui.RegistrationActivity" />
        <activity android:name=".presentation.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>